# JSON과 Object를 매핑하는 Java 라이브러리인 Jackson에서 JSON deserialize가 되지 않는 이슈 관련 해결법
# 1.16.20 version BREAKING CHANGE
# lombok config key lombok.anyConstructor.suppressConstructorProperties is now deprecated and defaults to true,
# that is, by default lombok no longer automatically generates @ConstructorProperties annotations.
# New config key lombok.anyConstructor.addConstructorProperties now exists;
# set it to true if you want the old behavior.
# Oracle more or less broke this annotation with the release of JDK9, necessitating this breaking change.
# https://projectlombok.org/changelog
lombok.anyConstructor.addConstructorProperties=true
