<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cucumber.market.mapper.CategoryMapper">

    <insert id="registerBigCategory" parameterType="com.cucumber.market.dto.category.BigCategoryRegisterRequest">
        INSERT INTO big_category (big_category_name)
        VALUES (#{bigCategoryName})
    </insert>

    <select id="findBigCategoryNameCount" resultType="Integer">
        SELECT COUNT(big_category_name)
        FROM big_category
        WHERE big_category_name = #{bigCategoryName}
    </select>

    <insert id="registerSmallCategory" parameterType="com.cucumber.market.dto.category.SmallCategoryRegisterRequest">
        INSERT INTO small_category (small_category_name, big_category_name)
        VALUES (#{smallCategoryName}, #{bigCategoryName})
    </insert>

    <select id="findSmallCategoryNameCount" resultType="Integer">
        SELECT COUNT(small_category_name)
        FROM small_category
        WHERE small_category_name = #{smallCategoryName}
    </select>

    <update id="updateBigCategory" parameterType="com.cucumber.market.dto.category.BigCategoryUpdateRequest">
        UPDATE big_category
        SET big_category_name = #{newBigCategoryName}
        WHERE big_category_name = #{oldBigCategoryName}
    </update>

    <update id="updateSmallCategory" parameterType="com.cucumber.market.dto.category.SmallCategoryUpdateRequest">
        UPDATE small_category
        SET small_category_name = #{newSmallCategoryName}
        WHERE small_category_name = #{oldSmallCategoryName}
        AND big_category_name = #{bigCategoryName}
    </update>

    <select id="findCategoryNames"
            parameterType="com.cucumber.market.dto.category.CategoryNamesRequest"
            resultType="com.cucumber.market.dto.category.CategoryDTO">
        SELECT small_category_name
        FROM small_category
        WHERE big_category_name = #{bigCategoryName}
        ORDER BY BINARY(small_category_name)
    </select>

</mapper>