<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cucumber.market.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.cucumber.market.dto.member.MemberSignUpRequest">
        INSERT INTO member (member_id, password, name, phone, address)
        VALUES (#{member_id}, #{password}, #{name}, #{phone}, #{address})
    </insert>

    <select id="findMemberIdCount" resultType="Integer">
        SELECT COUNT(member_id)
        FROM member
        WHERE member_id = #{member_id}
    </select>

    <select id="isMatchIdAndPassword" resultType="Integer">
        SELECT COUNT(name)
        FROM member
        WHERE member_id = #{member_id}
        AND password = #{password}
    </select>

    <select id="isActivityMember" resultType="Integer">
        SELECT COUNT(isactive)
        FROM member
        WHERE member_id = #{member_id}
        AND isactive = 'y'
    </select>

    <select id="findByMemberId" resultType="com.cucumber.market.dto.member.MemberInfo">
        SELECT member_id, name, phone, address
        FROM member
        WHERE member_id = #{member_id}
    </select>

    <update id="updateMemberInfo" parameterType="com.cucumber.market.dto.member.MemberUpdateInfoRequest">
        UPDATE member
        SET password = #{newPassword}, name = #{name}, phone = #{phone}, address = #{address}
        WHERE member_id = #{member_id}
    </update>

    <update id="inactivateMember" parameterType="com.cucumber.market.dto.member.MemberIdPasswordRequest">
        UPDATE member
        SET isactive = 'n', updatetime = now()
        WHERE member_id = #{member_id}
        AND password = #{password}
    </update>

    <select id="getCurrentMemberInfo" resultType="com.cucumber.market.dto.member.CurrentMemberInfo">
        SELECT member_id, isadmin
        FROM member
        WHERE member_id = #{member_id}
    </select>

    <select id="findAllMember" resultType="com.cucumber.market.dto.member.Member">
        SELECT *
        FROM member
    </select>

    <update id="registerAdmin">
        UPDATE member
        SET isadmin = 'y'
        WHERE member_id = #{member_id}
    </update>

</mapper>