<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cucumber.market.mapper.ProductMapper">

    <insert id="uploadProduct" parameterType="com.cucumber.market.dto.product.ProductUploadRequest">
        INSERT INTO product (big_category_name, small_category_name, member_id, title, content, price, delivery_price)
        VALUES (#{bigCategoryName}, #{smallCategoryName}, #{member_id}, #{title}, #{content}, #{price}, #{deliveryPrice})
    </insert>

    <select id="getMyLatestProduct" resultType="int">
        SELECT product_idx
        FROM product
        WHERE member_id = #{member_id}
        ORDER BY createtime DESC LIMIT 1
    </select>

    <update id="updateThumbnailIdx" parameterType="int">
        UPDATE product
        SET thumbnail_file_idx = #{thumbnailIdx}
        WHERE product_idx = #{productIdx}
    </update>

    <select id="checkProductWriter" resultType="int">
        SELECT COUNT(*)
        FROM product
        WHERE product_idx = #{productIdx} AND member_id = #{member_id}
    </select>

    <update id="updateProduct" parameterType="com.cucumber.market.dto.product.ProductUpdateRequest">
        UPDATE product
        SET title = #{title}, content = #{content}, price = #{price}, delivery_price = #{deliveryPrice}, updatetime = now()
        WHERE product_idx = #{productIdx}
    </update>

    <select id="checkNotSoldOutProduct" resultType="int">
        SELECT COUNT(*)
        FROM product
        WHERE product_idx = #{productIdx} AND status = 'b'
    </select>

    <update id="soldOutProduct">
        UPDATE product
        SET status = 'b', updatetime = now()
        WHERE product_idx = #{productIdx} AND member_id = #{member_id}
    </update>

    <select id="checkNotDeleteProduct" resultType="int">
        SELECT COUNT(*)
        FROM product
        WHERE product_idx = #{productIdx} AND status = 'c'
    </select>

    <update id="deleteProduct">
        UPDATE product
        SET status = 'c', updatetime = now()
        WHERE product_idx = #{productIdx} AND member_id = #{member_id}
    </update>
</mapper>