<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cucumber.market.mapper.ProductMapper">

    <insert id="uploadProduct" parameterType="com.cucumber.market.dto.product.ProductUploadForm">
        INSERT INTO product (big_category_name, small_category_name, member_id, title, content, price, delivery_price)
        VALUES (#{bigCategoryName}, #{smallCategoryName}, #{member_id}, #{title}, #{content}, #{price}, #{deliveryPrice})
    </insert>

    <select id="getMyLatestProduct" resultType="int">
        SELECT product_idx
        FROM product
        WHERE member_id = #{member_id}
        ORDER BY createtime DESC LIMIT 1
    </select>

    <update id="updateThumbnailIdx" parameterType="int">
        UPDATE product
        SET thumbnail_file_idx = #{thumbnailIdx}
        WHERE product_idx = #{productIdx}
    </update>

    <select id="checkDuplicateHope" resultType="int">
        SELECT COUNT(member_id)
        FROM hope
        WHERE product_idx = #{productIdx}
    </select>

    <insert id="hope">
        INSERT INTO hope (product_idx, member_id)
        VALUES (#{productIdx}, #{member_id})
    </insert>

    <delete id="cancelHope">
        DELETE
        FROM hope
        WHERE product_idx = #{productIdx} AND member_id = #{member_id}
    </delete>

    <insert id="registerComment">
        INSERT INTO comment (product_idx, member_id, content)
        VALUES (#{productIdx}, #{member_id}, #{content})
    </insert>

    <select id="checkNotDeleteComment" resultType="int">
        SELECT COUNT(*)
        FROM comment
        WHERE comment_idx = #{commentIdx} AND isview = 'n'
    </select>

    <select id="checkCommentWriter" resultType="int">
        SELECT COUNT(*)
        FROM comment
        WHERE comment_idx = #{commentIdx} AND member_id = #{member_id}
    </select>

    <update id="updateComment">
        UPDATE comment
        SET content = #{content}, updatetime = now()
        WHERE comment_idx = #{commentIdx}
    </update>

    <update id="deleteComment">
        UPDATE comment
        SET isview = 'n', updatetime = now()
        WHERE comment_idx = #{commentIdx} AND member_id = #{member_id}
    </update>

</mapper>